---
modified:
  title: Birds of Chicagoland
  class: birds
---
{{> header}}

{{#birds}}
<div class="bird-hero">
  <div class="title-wrap">
    <h1>Birds <span>of</span> Chicagoland</h1>
    <div class="page-subtitle">Paintings by Charlie Thomason</div>
    <img src="../img/birds/{{bird-hero}}.jpg" alt="{{bird-hero-alt}}">
  </div>
  <div class="bird-intro">
    <div class="intro-text">
      <p>For most of my life, I have loved birds. As a child, I would watch and record every bird I saw at our backyard feeder, and draw pictures of my favorites. As an adult, I have read numerous books about different bird species, and they are still one of my primary artistic inspirations. The Chicagoland area is home to over 300 different species of birds, with over 7 million feathered visitors each year. For over 2 years, I worked on paintings of some of Chicago's most beautiful and interesting birds, coupled with notable Chicago landmarks. In December 2016, I self-published the book, <em>Birds of Chicagoland: Paintings by Charlie Thomason</em>, which I consider to be my artistic masterpiece.</p>
      <p><strong>15 of the best paintings from this book are featured on this website. You can view all 24 paintings by purchasing the 68-page hardcover book from Blurb.com, via the "Buy Book" button below.</strong></p>
    </div>
    {{> bird-btns}}
  </div>
</div>

<div class="bird-container">
  <section class="gallery">
    <ul class="gallery-wrap list">
    {{#each categories}}
      <li class="img-li">
        <a href="{{slug}}.html" title="{{category}}" class="galleryImg">
          <img src="../img/birds/thumbs/{{slug}}.jpg" alt="{{imgTitle}}">
          <div class="info">
            <h2 class="title">{{category}}</h2>
            <p class="subtitle">{{subtitle}}</p>
          </div>
        </a>
      </li>
    {{/each}}
    </ul>
  </section>
</div>
{{/birds}}

{{> footer}}