---
modified:
  title: Birds of Chicagoland
  class: birds
---
{{> header}}

{{#birds}}
<div class="bird-hero">
  <div class="title-wrap">
    <h1>Birds <span>of</span> Chicagoland</h1>
    <div class="page-subtitle">Paintings by Charlie Thomason</div>
    <img src="img/birds/{{bird-hero}}.jpg" alt="{{bird-hero-alt}}">
  </div>
  <div class="bird-intro">
    <p class="intro-text">{{intro}}</p>
    <div class="intro-btns">
      <a href="#" class="buy-book" target="_blank">Buy the Book</a>
      <a href="birds/bird-about.html">Introduction</a>
      <a href="birds/bird-about.html">Materials &amp; Process</a>
    </div>
  </div>
</div>

<div class="bird-container">
  <section class="gallery">
    <ul class="gallery-wrap list">
    {{#each categories}}
      <li class="img-li">
        <a href="birds/{{slug}}.html" title="{{category}}" class="galleryImg">
          <img src="img/birds/thumbs/{{slug}}.jpg" alt="{{imgTitle}}">
          <div class="info">
            <h2 class="title">{{category}}</h2>
            <p class="subtitle">{{subtitle}}</p>
          </div>
        </a>
      </li>
    {{/each}}
    </ul>
  </section>
</div>
{{/birds}}

{{> footer}}