{{#bird-gallery}}
<div class="gallery-nav">
  <a href="/birds.html">&laquo; Return to Birds</a>
  <a href="#" class="trigger-lightbox">View as Slideshow</a>
</div>

<div class="gallery-page">

{{#each works}}
  <section class="img-section">
    <div class="img-inpage">
      <img src="/img/birds/{{imgFile}}.jpg" alt="{{imgTitle}}">
      <h2>{{bird}}</h2>
      <div class="latin">{{latin}}</div>
      <div class="this-number">{{add @index 1}} / {{../works.length}}</div>
      <div class="img-controls">
        <button class="img-close">Close</button>
        <button class="img-prev">Previous</button>
        <button class="img-next">Next</button>
      </div>
    </div>
    <div class="img-info{{#unless description}} no-description{{/unless}}">
      {{#if description}}
      <div class="img-desc">
        <p>{{{description}}}</p>
      </div>
      {{/if}}
      <ul class="img-meta">
        {{#if location}}<li><strong>Location:</strong> <a href="http://maps.google.com/maps?q={{googleQuery}}" target="_blank">{{location}}</a></li>{{/if}}
        {{#if date}}<li><strong>Date:</strong> {{date}}</li>{{/if}}
        {{#if printUrl}}<li><a href="{{printUrl}}" target="_blank">Buy a Print</a></li>{{/if}}
      </ul>
    </div>
  </section>
{{/each}}

</div>
{{/bird-gallery}}