{{#bird-gallery}}
<div class="bird-gallery">

  <div class="gallery-intro">
    <p>{{intro}}</p>
    <div class="gallery-nav">
      <a href="/birds.html">&laquo; Return to Birds</a>
      <a href="#" id="show-slideshow">View Fullscreen</a>
    </div>
  </div>

  <div class="gallery-page bird-list">

  {{#each works}}
    <section class="img-section">

      <div class="img-inpage">
        <img src="/img/birds/{{imgFile}}.jpg" alt="{{imgTitle}}">
      </div>

      <div class="img-info">
        <div class="img-desc">
          <h2>{{bird}}</h2>
          <div class="bird-meta">
            {{#if location}}<span class="location">{{location}}</span><span class="bull">&bull;</span>{{/if}}
            <span class="date">{{date}}</span>
          </div>
          <div class="latin">({{latin}})</div>
          <p>{{{description}}}</p>
          <div class="bird-btns">
            {{#if printUrl}}<a href="{{printUrl}}" target="_blank">Buy a Print</a>{{/if}}
            <a href="#" target="_blank">Buy the Book</a>
          </div>
        </div>
      </div>

    </section>
  {{/each}}

  </div>

  <div class="slide-controls">
    <button type="button" id="hide-slideshow">Close</button>
    <button type="button" id="prev-slideshow">Previous Image</button>
    <button type="button" id="next-slideshow">Next Image</button>
  </div>

</div>
{{/bird-gallery}}