{{#gallery}}
<section class="gallery">

  <div class="sort-method">
    <p>Sort by:</p>
    <div>
      <a href="#" id="sort-newest" class="active">Newest</a>
      <a href="#" id="sort-oldest">Oldest</a>
      <a href="#" id="sort-title">Title</a>
    </div>
  </div>

  <ul class="grid">
    {{#each works}}
      {{#if gallery}}
        <li class="img-li" data-year="{{year}}{{#if month}}-{{month}}{{/if}}">
          <a href="gallery-{{imgFile}}.html" class="galleryPage">
            <img src="img/{{../../type}}/thumbs/{{imgFile}}-250.jpg" alt="{{gallery}}">
          </a>
          <div class="info">
            <h2 class="title">{{gallery}}</h2>
            <p class="year">{{year}}</p>
            <p class="count">{{photo-count}} photos</p>
          </div>
        </li>
      {{else}}
        <li class="img-li galleryImg-li" data-id="{{@index}}" data-year="{{year}}{{#if month}}-{{month}}{{/if}}">
          <a href="img/{{../../type}}/{{imgFile}}.jpg" title="{{imgTitle}}" class="galleryImg" data-id="{{imgFile}}">
            <img src="img/{{../../type}}/thumbs/{{imgFile}}-250.jpg" alt="{{imgTitle}}">
          </a>
          <div class="info">
            <h2 class="title">{{imgTitle}}</h2>
            <p class="year">{{year}}</p>
            {{#if month}}<p class="month">{{month}}</p>{{/if}}
            <p class="medium">{{medium}}</p>
            {{#if location}}<p class="location">{{location}}</p>{{/if}}
            <p class="description">{{{description}}}</p>
          </div>
        </li>
      {{/if}}
    {{/each}}
  </ul>

  <div class="lightbox">
    <div class="lightbox-nav">
      <a href="#" class="prev-btn">Previous</a>
      <a href="#" class="close-btn">View All</a>
      <a href="#" class="next-btn">Next</a>
    </div>
    <div class="lightbox-content">
      <div class="lightbox-img">
        <img src="" alt="">
      </div>
      <div class="lightbox-info">
        <p class="lightbox-description"></p>
        <ul class="lightbox-meta">
          <li class="lightbox-year"></li>
          <li class="lightbox-location-wrap">
            <a href="http://maps.google.com/maps?q=" class="lightbox-location" target="_blank"></a>
          </li>
          <li class="lightbox-medium"></li>
        </div>
      </div>
    </div>
  </div>

  <div class="lightbox-loading">Loading...</div>

</section>
{{/gallery}}