{{#gallery}}
<section class="gallery">

  <ul class="gallery-wrap {{#is type 'webdev'}}list{{else}}grid{{/is}}">
    {{#is type 'art'}}
    <li class="img-li" data-filters="birds watercolor ink">
      <a href="/birds/">
        <img src="img/art/thumbs/birds-250.jpg" alt="Birds of Chicagoland" class="galleryImg">
        <div class="info">
          <h2 class="title">Birds of Chicagoland</h2>
          <p class="year">2014-2016</p>
          <p class="count">15 paintings</p>
        </div>
      </a>
    </li>
    {{/is}}
    {{#each works}}
      <li class="img-li" data-id="{{@index}}" data-year="{{year}}{{#if month}}-{{month}}{{/if}}"{{#if filters}} data-filters="{{filters}}"{{/if}}>
        <a href="{{../type}}/{{imgFile}}.html" title="{{imgTitle}}" class="galleryImg">
          <img src="img/{{../type}}/thumbs/{{imgFile}}-250.jpg" alt="{{imgTitle}}">
          <div class="info">
            <h2 class="title">{{imgTitle}}</h2>
            {{#if subtitle}}<h3 class="subtitle">{{subtitle}}</h3>{{/if}}
            <p class="year">{{year}}</p>
            {{#if photo-count}}<p class="count">{{photo-count}} photos</p>{{/if}}
            {{#if tags}}<div class="tags">{{#each tags}}<span class="tag tag-{{tagname}}">{{tagname}}</span> {{/each}}</div>{{/if}}
          </div>
        </a>
      </li>
    {{/each}}
  </ul>

</section>
{{/gallery}}