{{#gallery}}
<section class="gallery">

  <ul class="grid">
    {{#each works}}
    <li>
      <a href="img/works/{{imgFile}}.jpg" title="{{imgTitle}}" class="galleryImg" data-id="{{imgFile}}">
        <img src="img/thumbs/{{imgFile}}-250.jpg" alt="{{imgTitle}}">
      </a>
      <div class="info">
        <h2 class="title">{{imgTitle}}</h2>
        <p class="year">{{year}}</p>
        <p class="medium">{{medium}}</p>
        <p class="description">{{description}}</p>
      </div>
    </li>
    {{/each}}
  </ul>

  <div class="lightbox">
    <div class="lightbox-nav">
      <a href="#" class="prev-btn">Previous</a>
      <a href="#" class="close-btn">View All</a>
      <a href="#" class="next-btn">Next</a>
    </div>
    <div class="lightbox-content">
      <div class="lightbox-img">
        <img src="" alt="">
      </div>
      <div class="lightbox-info">
        <h2 class="lightbox-title"></h2>
        <div class="lightbox-meta">
          <span class="lightbox-year"></span> &bull; <span class="lightbox-medium"></span>
        </div>
        <p class="lightbox-description"></p>
      </div>
    </div>
  </div>

  <div class="lightbox-loading">Loading...</div>

</section>
{{/gallery}}