{{#gallery}}
<section class="gallery">

  {{!--<div class="sort-method">
    <p>Sort by:</p>
    <div>
      <a href="#" id="sort-newest" class="active">Newest</a>
      <a href="#" id="sort-oldest">Oldest</a>
      <a href="#" id="sort-title">Title</a>
    </div>
  </div>--}}

  <ul class="grid">
    {{#each works}}
      <li class="img-li" data-id="{{@index}}" data-year="{{year}}{{#if month}}-{{month}}{{/if}}">
        <a href="{{../type}}/{{imgFile}}.html" title="{{imgTitle}}" class="galleryImg">
          <img src="img/{{../type}}/thumbs/{{imgFile}}-250.jpg" alt="{{imgTitle}}">
          <div class="info">
            <h2 class="title">{{imgTitle}}</h2>
            <p class="year">{{year}}</p>
            {{#if photo-count}}<p class="count">{{photo-count}} photos</p>{{/if}}
          </div>
        </a>
      </li>
    {{/each}}
  </ul>

</section>
{{/gallery}}