{{#pagenav}}
<nav class="page-nav">
  {{{pageNav type num}}}
  <li class="back"><a href="../{{#if folder}}{{folder}}{{else}}{{../../folder}}{{/if}}.html"><img src="../img/pagenav-gray.jpg" alt=""><span>Return to {{#if folder}}{{capitalizeFirst folder}}{{else}}{{capitalizeFirst ../../folder}}{{/if}}</span></a></li>
</nav>
{{/pagenav}}