{{#pagenav}}
<nav class="page-nav">
  <li class="prev"><a href="{{prev.id}}.html"><img src="../img/{{../folder}}/thumbs/{{prev.id}}-250.jpg" alt="{{prev.title}}"><span>{{prev.title}}</span></a></li>
  <li class="back"><a href="../{{../folder}}.html">Return to {{capitalizeFirst ../folder}}</a></li>
  <li class="next"><a href="{{next.id}}.html"><img src="../img/{{../folder}}/thumbs/{{next.id}}-250.jpg" alt="{{next.title}}"><span>{{next.title}}</span></a></li>
</nav>
{{/pagenav}}